#wrapper {
  overflow: auto;
  margin: auto;
  width: 800px;
  height: 800px;
  padding-top: 5%
}

.grid {
  display: inline-block;
  float: left;
  background-color: black;
  /*
  border: 1px solid black;
  margin: -0.5px;
  */
}

#topBar {
  margin: auto;
  width: 100%;
  text-align: center;
}


button {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}